<%include part_head %>
<div class="container">
    <% if(game.images.length>1) {%>
	    <div id="slides">

			<% game.images.forEach(function(image) { %>
				<img src="<%= image.image_url %>">
			<% }); %>

			<a href="#" class="slidesjs-previous slidesjs-navigation"><span class="glyphicon glyphicon-chevron-left"></span></a>
			<a href="#" class="slidesjs-next slidesjs-navigation"><span class="glyphicon glyphicon-chevron-right"></span></a>
	    </div>
    <% } %>
    <% if(game.images.length==1){ %>
    	<div class="col-lg-12 col-sm-12">
    		<img style="width:100%;margin-top:20px;" src="<%= game.images[0].image_url %>">
    	</div>
    <% } %>
    <div id="img-list" style="display:none;">
    	<% for (var i = 0; i < game.images.length; i++) { %>
			<span><%= game.images[i].image_url %></span>
		<% } %>
	</div>
	<div id="info">
		<div id="top-info">
			<div id="top-name" class="col-md-6 col-sm-12">
				<h1><%= game.asset_pack_name %></h1>
			</div>
			<div id="top-attr" class="col-md-6 col-sm-12" style="float:right;margin-top:15px;">
				<div id="attr-info" >
					<% for(var i = 0; i < game.stars; ++i) { %>
						<span class='glyphicon glyphicon-star star'></span>
					<% } %>
					<% for(var i = 0; i < 5 - game.stars; ++i) { %>
						<span class='glyphicon glyphicon-star-empty star'></span>
					<% } %>
					<div class="asset-count"><%= game.count %> Subscription<%= (game.count===1)? '':'s' %></div>
				</div>
				<div id="is_subbed">
					<label class="switch-light switch-candy sub_switch" style="margin-top:3px;" onclick="">
						<input type="checkbox" <%= (game.is_subbed==true)? 'checked' : '' %>>
						<span>
							<span>Off</span>
							<span>On</span>
						</span>

						<a></a>
					</label>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
		<h2>About</h2>
		<p style="padding:10px;width:100%;"><%= game.description %></p>
	</div>
</div>
<style type="text/css">
	#info{
		padding: 20px;
		color: white;
		margin-top: 10px;
		margin-bottom:20px;
		background-color: rgba(0,0,0,0.7);	
	}
	#attr-info{
		float: right!important;
	}
	#is_subbed{
		width: 300px;
		float:right;
		margin-right: 7px;
		cursor: pointer;
	}
	#is_subbed label{
		margin-left:7px!important;
	}
	.star{
		cursor: pointer;
	}
	.star:hover ~ .star{
		color: #999;
	}
	.slidesjs-navigation{
		font-size: 2em;
		float:left;
		height: 100px;
		background-color: rgba(0,0,0,0.1);
		color: rgba(255,255,255,0.7);
		line-height: 4em;
		margin-top: 10px;
	}
	.slidesjs-pagination{
		padding-top: 10px;
		margin-bottom: 0px;
	}
	.slidesjs-pagination-item{
		height: 100px;
		float: left;
		list-style-type:none;
		background-color: gray;
		padding: 2px;
		margin-right: 7px;
		margin-top: 5px;
	}
	.slidesjs-pagination-item img{
		height: 100%;
	}
	.slidesjs-previous{
		margin-right: 7px;
	}
	.slidesjs-navigation:hover{
		background-color: rgba(0,0,0,0.9);
		color: white;
	}
	.slidesjs-next{
		float:right;
	}
	.backdrop{
		background-color: rgba(0,0,0,0.7);
		border-bottom: solid 5px rgba(0,0,0,0.7);
	}
</style>
<script type="text/javascript">
	$(document).ready(function(){
		var is_subbed = <%= (game.is_subbed==true)? 'true' : 'false' %>;
		var clickable = 0;
		$(".sub_switch span").click(function(){
			if(clickable == 2) return false;
				clickable++;
			if(clickable==1){
				console.log("double?");
				is_subbed = !is_subbed;
				var subbed = "unsubscribe";
				if(is_subbed)
					subbed = "subscribe";

				var timeout = setTimeout(function(){
					clickable = 0;
				}, 200);
				$.ajax({
					url:"/api/"+subbed,
					type:"POST",
					data:{
						ass_pk_id:"<%= game.asset_pack_id %>"
					},
					error:function(err, status, stuff){
						// is_subbed = !is_subbed;
						// $(".sub_switch").click();
						clearTimeout(timeout);
						clickable = 0;
						console.log(err, status, stuff);
						if(err.responseJSON.url != undefined)
							document.location.href = err.responseJSON.url;
					}
				});
			}
		});

		var imgs = new Array();
		var imglist = $("#img-list").children();
		for (var i = 0; i < imglist.length; i++) {
			imgs[i] = $(imglist[i]).text();
		};
			console.log(imgs);
		$('#slides').slidesjs({
			width: 940,
			height: 528,
			navigation:false
		});
		var props = $('.slidesjs-pagination').children();
		for (var i = 0; i < props.length; i++) {
			$(props[i].children[0]).html("<img src='"+imgs[i]+"'>");
		};
	});
</script>
<%include part_foot %>
