<style type="text/css">

</style>
<div class="col-md-12 git-update">
	<a href="http://github.com/<%= update.actor.login %>" class="update-user-image">
		<img src="<%= update.actor.avatar_url %>" >
	</a>
	<a href="<%= update.actor.url %>" class="update-user-name">
		<strong>&nbsp<%= update.actor.login %></strong>
	</a>
	<div style="padding-left:3px;padding-right:3px;float:right">
		<div class="time"><%= update.date %></div>
	</div>
	<span class="action">&nbsppushed to</span>
	<br>
	<a href="http://github.com<%= update.repo.name %>" class="update-repo-name">
		<strong>&nbsp<%= update.repo.name %></strong>
	</a>
	<div class="clearfix"></div>
	<div style="padding-left:3px;padding-right:3px">
		<div class="commit"><%= (update.payload.commits != undefined)? update.payload.commits[0].message : "" %></div>
	</div>
</div>