<div class="asset col-lg-2 col-md-3 col-sm-4 col-xs-6">
	<div class="asset-image" count="<%= game.count %>" stars="<%= game.stars %>">
		<img class="<%= (game.is_subbed==true)? 'is-subscribed-image' : '' %>" src="<%= game.image_url %>">
	</div>
	<div class='asset-trap-title <%= (game.is_subbed==true)? 'is-trap-subscribed' : '' %>'></div>
	<div class="asset-title <%= (game.is_subbed==true)? 'is-subscribed' : '' %>"><a href="/game/<%= game.asset_pack_id %>"><%= game.asset_pack_name %></a></div>
	<div class="asset-quick">
		<div class="asset-count"><%= game.count %> Subscription<%= (game.count===1)? '':'s' %></div>
		<div class="asset-stars">
			<% for(var i = 0; i < game.stars; ++i) { %>
				<span class='glyphicon glyphicon-star asset-star'></span>
			<% } %>
			<% for(var i = 0; i < 5 - game.stars; ++i) { %>
				<span class='glyphicon glyphicon-star-empty asset-star'></span>
			<% } %>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="asset-description"><p><%= game.description %></p></div>
</div>