<style type="text/css">
	.server{
		width: 98%;
		margin-left: 2%;
		background-color: rgba(0,0,0,0.7);
		color: white;
	}
	.server:hover{
		width: 100%;
		margin-left: 0px;
	}
	.edge{
		background-color: white;
		width: 1%;
		height: 100%;
		float: left;
		margin-right:10px; 
	}
	.server-info{
		padding: 10px;
	}
	.title-text{
		font-size: 30px;
		line-height: 30px;
	}
	.between-text{
		font-size: 20px;
		line-height: 30px;
	}
	.info-text{
		float:right;
	}
	.join{
		float:right;
	}
</style>
<div class="server">
	<div class="edge" style="background-color:rgb(<%= servers[hash].pingtime %>,<%= 255 - servers[hash].pingtime %>,0);">&nbsp</div>
	<div class="server-info">
		<span class="title-text"><%= servers[hash].server_name %>&nbsp<span class="between-text">Playing</span>&nbsp<%= servers[hash].game_name %></h1>
		<button class="btn btn-default join"><i class="<%= (servers[hash].server_passphrase!=undefined)? 'glyphicon glyphicon-lock':'' %>"> </i>&nbspJoin</button>
		<span class="info-text">Players: <%= servers[hash].num_players %> / <%= servers[hash].max_num_players %>&nbsp</h1>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
</div>

